*.pyc
*~
*.DS_Store
.directory
.project
.pydevproject
.settings/*
__pycache__

# build artifacts from python setup.py build or python setup.py install
build/
dist/
*egg*/
docs/_build
.vscode/tags
.cache
.pytest_cache
.vscode/
.DS_Store
*.pfx
sent_xml.xml
received_xml.xml
cte-exemplo*.py
nfse-exemplo*.py
nfe-exemplo*.py
nfcom-exemplo*.py
